.swiper-horizontal {
    .swiper-button-prev,
    .swiper-button-next {
        color: #FFBA08;
        opacity: 0;
        transition: opacity 0.2s ease-in;
        &:hover {
            opacity: 1;
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            background-color: #FFF;
        }
        .swiper-pagination-bullet-active {
            background-color: #FFBA08;
        }
    }
}