.animation-plane{

    animation: movimentar 2s linear infinite alternate;
    @keyframes movimentar {
        0%{
            transform: translateY(0)
        }
        
        100%{
            transform: translateY(10px);
        }
    }
}